@charset "UTF-8";

/* 장터 글쓰기 
-------------------------*/
.marketWrite1{
	position:relative;
	width:40%;
	float:left;
	padding:10px;
	margin-right:10px;
}
.marketWrite2{
	width:40%;
	padding:10px;
	float:right;
	margin-left:10px;
}
form#register_form{
	border:none;
}
.clear{
	clear:both;
}
.market_photo{
	width:70px;
	height:60px;
	padding:10px;
	padding-left:30px;
	padding-bottom:30px;
	border: 1px solid gray;
	border-radius:5px;
	cursor:pointer;
}
.market_photo span{
	position:absolute;
	clear:both;
	text-align:center;
	padding-left:11px;
	margin-top:40px;
}
.camera-click{
	position:absolute;
	cursor:pointer;
	width:100px;
	height:80px;
	margin-left:-10px;
}
.hide{
	display:none;
}
.market_photo img{
	margin-left:10px;
}
.file-list{
	position:absolute;
	margin-left:120px;
	margin-top:-80px;
	width:280px;
}
.file-list .pr-image{
	margin-left:8px;
}
.file-list .filebox{
	position:relative;
	float:left;
	margin-left:10px;
}
.delete-button{
	position:absolute;
	margin-top:-55px;
	margin-left:55px;
	width:18px;
	height:20px;
	background-color:black;
	color:white;
	font-size:16px;
	text-align:center;
	padding-top:-5px;
	font-weight:bold;
	border-radius:3px;
	cursor:pointer;
}
.valid-message{
	color:red;
}
#map-button{
	width:400px;
	text-align:left;
	background-color:white;
	font-weight:bold;
	cursor:pointer;
}
#map-button:hover{
	background-color:skyblue;
	color:white;
}
/* 장터 목록
-------------------------*/
#market_keyword{
	width:400px;
	height:40px;
	border-radius:5px;
	text-align:center;
	border:3px solid gray;
	margin-right:15px;
}
.market-search{
	width:80px;	
}
.write-button{
	position:absolute;
	text-align:right;
	margin-top:-30px;
	margin-left:850px;
}
.search-ul{
	margin:0 auto;
	width: 500px;
}
.market-profile{
	position:absolute;
	margin-left:50px;
	margin-top:-20px;
}
.market-profile p{
	font-size:15px;
	margin-top:-30px;
	margin-left:38px;
}
span.category0{
	cursor:pointer;
	font-weight:bold;
}
span.category1{
	cursor:pointer;
	color:gray;
}
.market-list{
	width:100%;
}
.list-box{
	display:inline-block;
	margin-left:30px;
	margin-top:40px;
}
.list-box .list-span1{
	text-align:center;
	font-weight:bold;
	font-size:15px;
}
.list-box .list-span2{
	text-align:center;
	font-weight:bold;
}
