<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.matching.dao.MatchingMapper">
	<!-- 현직자 신청 -->
	<insert id="insertEmp" parameterType="EmpVO">
		INSERT INTO emp(
		emp_num,
		emp_status,
		comsize,
		compeople,
		field,
		role,
		career,
		salary_status,
		salary,
		periodtime,
		education,
		major,
		certification,
		location,
		location_api,
		location_api_lat,
		location_api_lng,
		workstart,
		mem_num,
		filename,
		advice,
		register_date
		)
		VALUES(
		emp_seq.nextval,
		0,
		#{comsize},
		#{compeople},
		#{field},
		#{role},
		#{career},
		#{salary_status},
		#{salary},
		#{periodtime},
		#{education},
		#{major},
		#{certification},
		#{location},
		#{location_api},
		#{location_api_lat},
		#{location_api_lng},
		#{workstart},
		#{mem_num},
		#{filename},
		#{advice},
		SYSDATE
		)
	</insert>

	<select id="listEmp" parameterType="map" resultType="empVO">
		SELECT 
		  *
		FROM (SELECT 
				a.*, rownum rnum
			  FROM (SELECT 
			  	    emp_num,
			  	    emp_status,
					comsize,
					compeople,
					field,
					role,
					career,
					salary_status,
					salary,
					periodtime,
					education,
					major,
					certification,
					location,
					location_api,
					location_api_lat,
					location_api_lng,
					workstart,
					mem_num,
					filename,
					<![CDATA[
					REPLACE(REPLACE(advice,'<','&lt;'),'>', '&gt;')advice,
					]]>
					register_date,
					m_date,
					auth
				FROM
					emp
				LEFT OUTER JOIN member USING(mem_num) 
				WHERE auth=2
				ORDER BY register_date DESC)a)
				<![CDATA[
				WHERE rnum >= #{start} AND rnum <= #{end}
				]]>
			  
	</select>
	
	<select id="listAllEmp" resultType="empVO">
	
	</select>
</mapper>