<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<!-- 회원가입 상세 -->
	<insert id="insertMember_detail" parameterType="memberVO">
		INSERT INTO member_detail (
		   mem_num,
		   name,
		   passwd,
		   phone,
		   email,
		   birth,
		   gender,
		   zipcode,
		   address1,
		   address2,
		   push,
		   certify_photo_name)
		VALUES (
		   #{mem_num},
		   #{name},
		   #{passwd},
		   #{phone},
		   #{email},
		   #{birth},
		   #{gender},
		   #{zipcode},
		   #{address1},
		   #{address2},
		   #{push},
		   #{certify_photo_name}
		   )   
	</insert>
	
	<!-- 아이디 중복 체크 및 로그인 체크 -->
	<select id="selectCheckMember" parameterType="string">
		SELECT
		   mem_num,
		   id,
		   auth,
		   nick_name,
		   au_id,
		   passwd,
		   email,
		   name
		FROM member LEFT OUTER JOIN member_detail
		USING(mem_num)
		WHERE id=#{id}
	</select>
	
	<!-- sql 태그와 include 태그를 이용해 SQL문 재사용 -->
	<sql id="memberSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					id LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					name LIKE '%' || #{keyword} || '%' 
				</if>
				<if test="keyfield == 3">
					phone LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	
	<!-- 회원 전체 목록/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="memberVO">
    SELECT
        *
    FROM (
        SELECT
            a.*,
            rownum rnum
        FROM (
            SELECT
                m.mem_num,
                m.id,
                m.auth,
                md.name,
                md.phone,
                md.email,
                md.reg_date,
                md.modify_date
            FROM
                member m
            LEFT OUTER JOIN
                member_detail md ON m.mem_num = md.mem_num
            WHERE
                m.auth = 1  <!-- auth 값이 1인 회원만 선택 -->
            <include refid="memberSearch"></include>
          
        ) a
    )
    <![CDATA[
    WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
</select>


<select id="selectRowCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM member 
    <include refid="memberSearch"></include>
</select>

</mapper>