<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.market.dao.MarketMapper">
<!-- 장터 글 등록 -->
<insert id="insertMarket" parameterType="marketVO">
INSERT INTO market_product(product_num,product_title,product_seller
						    ,filename0,filename1,
						    filename2,filename3,
						    product_content,product_category,
						    product_price, product_place,
						    product_placedetail 
						    )VALUES(
						    market_product_seq.nextval,
						    #{product_title},#{product_seller},
							#{filename0},#{filename1,jdbcType=VARCHAR},
							#{filename2,jdbcType=VARCHAR}, #{filename3,jdbcType=VARCHAR},
							#{product_content},#{product_category},
							#{product_price},#{product_place,jdbcType=VARCHAR},
							#{product_placeDetail,jdbcType=VARCHAR})
									    
</insert>

<!-- sql 태그와 include 태그를 이용해 SQL문 재사용 -->
	<sql id="marketSearch">
    <where>
        <choose>
            <when test="keyword != null and keyword != '' and category == 0">	
                product_category = 0 AND (product_title LIKE '%' || #{keyword} || '%' OR product_content LIKE '%' || #{keyword} || '%')
            </when>
            <when test="keyword != null and keyword != '' and category == 1">	
                product_category = 1 AND (product_title LIKE '%' || #{keyword} || '%' OR product_content LIKE '%' || #{keyword} || '%')
            </when>
            <when test="keyword == null or keyword == '' and category == 0">
                product_category = 0
            </when>
            <when test="keyword == null or keyword == '' and category == 1">
                product_category = 1
            </when>
        </choose>
    </where>
</sql>
	
	
	<!-- 장터 글의 총개수/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM market_product
		<include refid="marketSearch"></include>
	</select>
	
	<!-- 장터 전체 목록/검색목록 -->
	<select id="selectList" parameterType="map" resultType="marketVO">
		SELECT
		   *
		FROM (SELECT
			   	a.*,
			   	rownum rnum
			   FROM (SELECT
			   		product_num,
			   		<![CDATA[
				      REPLACE(REPLACE(product_title,'<','&lt;'),'>','&gt;') product_title,
				    ]]>
			   		product_seller,
			   		filename0,
			   		product_category,
			   		product_price,
			   		product_sale,
			   		product_status,
			   		product_regDate,
			   		product_modifyDate
			   	FROM market_product
			   	<include refid="marketSearch"></include>
			   	ORDER BY product_regDate DESC)a)	
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>       
	</select>
</mapper>